{% extends 'base.html.twig' %}

{% block title %}Password Change{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 col-lg-8 col-xl-6 border-1 rounded-3 ms-auto me-auto bg-dark mt-5 text-white" style="opacity: 0.9;">
                <div class="text-center mb-3 pt-2">
                    <h1>Password change</h1>
                    <hr>
                </div>

                {{ form_start(changePasswordForm) }}
                <div class="mb-3">
                    {{ form_row(changePasswordForm.oldPassword) }}
                </div>
                <div class="mb-3">
                    {{ form_row(changePasswordForm.newPassword) }}
                </div>
                <div class="d-flex flex-row-reverse mb-3">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
                {{ form_errors(changePasswordForm) }}
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>

{% endblock %}
