{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 col-lg-8 col-xl-6 border-1 rounded-3 ms-auto me-auto bg-dark mt-5 text-white" style="opacity: 0.9;">
                <div class="text-center mb-3 pt-2">
                    <h1>Sign In</h1>
                    <hr>
                </div>
                <div class="mb-3">
                    <form method="post" class="form-group ms-3 me-3">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Username or Email</label>
                            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me" checked>
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-row-reverse">
                                <a href="{{ path('app_password_reset_request') }}">Forgot Password?</a>
                            </div>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <button class="btn btn-primary" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
                <div class="mb-3 text-center">
                    <span>Not a Member? <a href="{{ path('app_register') }}">Register Here!</a></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
