{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

    <h1>Password Reset</h1>

    {{ form_errors(passwordResetForm) }}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash }}</div>
    {% endfor %}

    {{ form_start(passwordResetForm) }}
        {{ form_row(passwordResetForm.email) }}
        <button type="submit">Reset</button>
    {{ form_end(passwordResetForm) }}
{% endblock %}
