{% extends 'base.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 col-lg-8 col-xl-6 border-1 rounded-3 ms-auto me-auto bg-dark mt-5 text-white" style="opacity: 0.9;">
                <div class="text-center mb-3 pt-2">
                    <h1>Password reset</h1>
                    <hr>
                </div>

                {{ form_start(resetPasswordForm) }}
                <div class="mb-3">
                    {{ form_row(resetPasswordForm.newPassword) }}
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
                {{ form_errors(resetPasswordForm) }}
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </div>


    {# <h1>Password Reset</h1>

    {{ form_errors(resetPasswordForm) }}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}
    {% for flash in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash }}</div>
    {% endfor %}

    {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.newPassword) }}
        <button type="submit">Reset</button>
    {{ form_end(resetPasswordForm) }} #}
{% endblock %}
